click==6.7
Flask==0.12.2
Flask-Mail
Flask-PyMongo==2.2.0
Flask-Session==0.3.1
flask_wtf
itsdangerous==0.24
Jinja2==2.10
livereload==2.5.2
MarkupSafe==1.0
pdfkit
pi==0.1.2
pymongo==3.7.2
PyMySQL==0.8.0
six==1.11.0
tornado==5.0.2
virtualenv==15.2.0
Werkzeug==0.14.1
WTForms==2.2.1
