{% extends 'base/base.html' %}
{% block emirates%}
<!-- Main -->
<div id="main" class="alt">
	<!-- One -->
		<section id="one">
			<div class="inner">
				<header class="major">
					<h1>{{ title }}</h1>
				</header>
				<span class="image main"><img src="/static/images/pic11.jpg" alt="" /></span>
				<p>descripccion de la aerolinea.</p>
			</div>
		</section>
	<!-- form section -->
        <section id="two">
            <form>
              <div class="row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Last name">
                </div>
              </div>
            </form>
        </section>
</div>
{% endblock %}
