{% extends 'base/base.html'%}
{% block index %} {{ comment }}

<!-- Banner -->
<section id="banner" class="major">
	<div class="inner">
		<header class="major">
			<h1>Hi, welcome to {{ title }}<h1>
		</header>
		<div class="content">
			<p> the new way to buy airlines ticket is easy as a click<br />
			click over GET STARTED to see the companies</p>
			<ul class="actions">
				<li><a href="#one" class="button next scrolly">Get Started</a></li>
			</ul>
		</div>
	</div>
</section>

<!-- Main -->
<div id="main">
	<!-- One -->
		<section id="one" class="tiles">
			<article>
				<span class="image">
					<img src="/static/images/avion.jpg" alt="" />
				</span>
				<header class="major">
					<h3><a href="landing.html" class="link">Singapore Airlines</a></h3>
					<p>Around the world</p>
				</header>
			</article>
			<article>
				<span class="image">
					<img src="/static/images/avion2.jpg" alt="" />
				</span>
				<header class="major">
					<h3><a href="/qatar" class="link">Qatar Airways</a></h3>
					<p>The best option</p>
				</header>
			</article>
			<article>
				<span class="image">
					<img src="/static/images/avion3.jpg" alt="" />
				</span>
				<header class="major">
					<h3><a href="landing.html" class="link">ANA All Nippon Airways</a></h3>
					<p>To travel</p>
				</header>
			</article>
			<article>
				<span class="image">
					<img src="/static/images/avion4.jpg" alt="" />
				</span>
				<header class="major">
					<h3><a href="landing.html" class="link">Emirates</a></h3>
					<p>Is here!</p>
				</header>
			</article>
			<article>
				<span class="image">
					<img src="/static/images/avion5.jpg" alt="" />
				</span>
				<header class="major">
					<h3><a href="landing.html" class="link">EVA Air</a></h3>
					<p>Buy your ticket</p>
				</header>
			</article>
			<article>
				<span class="image">
					<img src="/static/images/avion7.jpg" alt="" />
				</span>
				<header class="major">
					<h3><a href="landing.html" class="link">Cathay Pacific Airways</a></h3>
					<p>NOW!!</p>
				</header>
			</article>
		</section>

	<!-- Two -->
		<section id="two">
			<div class="inner">
				<header class="major">
					<h2>{{ title }}</h2>
				</header>
				<p>Get your tickets now!</p>
				<ul class="actions">
					<li><a href="landing.html" class="button next">Get Started</a></li>
				</ul>
			</div>
		</section>
		<!-- three
		<section id="three">
			{% from "_macro.html" import show_test %}
			{{ show_test(title) }}
		</section> -->

</div>
{% endblock %}
